#calendar.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard div.fc-view-harness.fc-view-harness-active {
    font-size: 14px;
}

/* Ensure the calendar doesn't overlap with the navbar */
#calendar-container {
    margin-top: 60px; /* Adjust as needed based on navbar height */
    padding: 20px;
}
  
#calendar {
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    margin: 0 auto;
}
  
/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    #calendar-container {
        padding: 10px;
    }
}

/* Calendar Coloring */ 
:root { 
    /* Appointment/Event Color */
    --fc-event-bg-color: #48A8F5;
    --fc-event-border-color: #48A8F5;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #333F49;
    --fc-button-border-color: #333F49;
    --fc-button-hover-bg-color: #1E252B;
    --fc-button-hover-border-color: #1E252B;
    --fc-button-active-bg-color: #1E252B;
    --fc-button-active-border-color: #1E252B;

    /* Color to indicate current selection */
    --fc-highlight-color: #cfe8fc;

    /* Color to show current date */
    --fc-today-bg-color: #EFF2F4;
}

/* Disabled buttons */
.fc .fc-button-primary:disabled {
    background-color: #485967;
    border-color: #485967;
}

/* Fix Calendar Styling */
.fc-col-header-cell-cushion, .fc-col-header-cell-cushion:hover, 
.fc-daygrid-day-number, .fc-daygrid-day-number:hover, 
.fc-event, .fc-event:hover, 
.fc-daygrid-more-link, .fc-daygrid-more-link:hover {
    color: #000;
    text-decoration: none;
}