body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}
  
/* Ensure the calendar doesn't overlap with the navbar */
#calendar-container {
    margin-top: 60px; /* Adjust as needed based on navbar height */
    padding: 20px;
}
  
#calendar {
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Ensure it doesn't overflow */
    margin: 0 auto;
}
  
/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    #calendar-container {
        padding: 10px;
    }
}

/* Calendar Coloring */ 
:root { 
    /* Appointment/Event Color */
    --fc-event-bg-color: #48A8F5;
    --fc-event-border-color: #48A8F5;

    /* Color to indicate current selection */
    --fc-highlight-color: #cfe8fc;

    /* Color to show current date */
    --fc-today-bg-color: #eff2f4;
}

/* Calendar Header Style */
.fc-toolbar-title {
    font-weight: bold;
}

/* Fix Calendar Styling */
.fc-col-header-cell-cushion, .fc-col-header-cell-cushion:hover, 
.fc-daygrid-day-number, .fc-daygrid-day-number:hover, 
.fc-event, .fc-event:hover, 
.fc-daygrid-more-link, .fc-daygrid-more-link:hover {
    color: black;
    text-decoration: none;
}